<form>
    <div class="columns">
        <div class="column is-one-fifth"></div>
        <div class="column">
            <h1>{{title}}</h1>
            <h2>Posted by {{user.username}} on {{format_date created_at}} </h2>
            <p>{{contents}}</p>
        </div>
        <div class="column is-one-fifth"></div>
    </div>
</form>