<form>
      
<div class="columns">


    <h1>Edit Post</h1>
    <form>
        <div>
            <h2>Post Title</h2>
            <input type="text" id="post-title" name="post-title" value="{{post.title}}" />
            <h3>Post</h3>
            <textarea name="post-contents">{{post.contents}}</textarea>
        </div>
        <div class="column">
                 <button type="submit" class="btn edit-post">Save Post</button>
            </div>
            <div class="column">
                <button type="button" class="btn delete-post">Delete Post</button>
            </div>
        </div> 
</form>
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
