<form>
    <div class="columns">
        <div class="column">
             <form class="post-box">
                <h2>Login</h2>
                <div>
                    <label for="user-login" class="user">Username:</label>
                    <input type="text" id="user-login" />
                </div>
                <div>
                    <label for="password-login" class="user">Password:</label>
                    <input type="password" id="password-login" />
                </div>
                <div>
                    <button type="submit" class="btn" id="login">Login</button>
                </div>
            </form>
            </div>
            <div class="column">
                <form class="post-box" >
                <h2>Signup</h2>
                <div>
                    <label for="username-signup" class="user">Username:</label>
                    <input type="text" id="username-signup" />
                </div>
                <div>
                    <label for="password-signup" class="user">Password:</label>
                    <input type="password" id="password-signup" />
                </div>
                <div>
                    <button type="submit" class="btn" id="signup">Signup</button>
                </div>
            </form>
            </div>
        </div>
</form>

<script src="/javascript/login.js"></script>