  
{{> post-data post}}

{{#if loggedIn }}
<div class="columns">
    <div class="column is-1"></div>
    <div class="column">
    <form class="comment-form">
        
        <div>
            <textarea name="comment-data"></textarea>
        </div>
        <button type="submit" class="comment-form button is-info">Add  comment</button>
    </form>
    </div>
    <div class="column is-1"></div>
</div>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn }}
<script src="/javascript/comment.js"></script>
{{/if}}